<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nameless translate</title>
</head>
<body>
    <h2>Nameless translate</h2>
    <p>Just translate</p>
    <a href="https://github.com/thenamelessdev/Nameless-translate"><button>GitHub</button></a>
    <hr>
    <input type="text" placeholder="Target lang" id="targetLang">
    <br>
    <input type="text" placeholder="Text to translate" id="text">
    <br>
    <button id="submitBtn">Submit</button>
    <script>
        
    </script>
</body>
</html>